<div class="container">
   <h1 class="title_lg mb">Все вопросы:</h1>

   <!-- вместо цикла вывода всех вопросов-->
    <% @questions.each do |abc| %>
        <div class="mt-sm container">
            <%= render abc %>
        </div>  
    <% end %>
    

    <p class="mt"><%= link_to "Создать новый вопрос", "/questions/new", class: "button button-main" %></p>
</div>