<h1>Вопрос:</h1>
<p><%= @question.body %></p>
<p>to user id: <%= @question.user_id %></p>

<p> <%= link_to 'Изменить вопрос', edit_question_path(@question) %> </p>
<p> <%= link_to 'Все вопросы', "/questions" %> </p>