body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    margin: 40px;
    width: 100%;
}

.container {
    background-color: white;
    padding: 20px;
    min-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}