body {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: red;
}

.title_lg {
    font-size: 175%;
}

.title_md, .title {
    font-size: 150%;
}

.title_sm {
    font-size: 125%;
}

.text_sm {
    font-size: 80%;
}

.text-grey {
    color: #a0a0a0;
}

.text-bold {
    font-weight: bold;
}